In [ ]:
6*7

In [2]:
4%2

2f

In [3]:
4.4%2

2.2

In [4]:
count 1.2 2.2 3.3
til 9

3

0 1 2 3 4 5 6 7 8

In [5]:
0 +/ 10 20 30 40 50

150

In [6]:
(+/) 10 20 30 40 50

150

In [7]:
47|7

47

In [8]:
(&/) 1 2 3 7 0

0

In [9]:
{[x]x*x}

{[x]x*x}

In [10]:
{[x]x*x*x}7

343

In [11]:
N:1000
item:`apple`banana`orange`pear;
city:`beijing`chicago`london`paris;
tab:([]time:asc N?0D0;N?item;amount:N?100;N?city);

In [12]:
tab

time                 item   amount city
------------------------------------------
0D00:05:23.343367874 banana 29     beijing
0D00:07:52.584763169 orange 28     beijing
0D00:09:47.789066880 banana 0      london
0D00:10:14.752469211 apple  65     chicago
0D00:10:41.654556244 orange 8      london
0D00:13:37.024576663 pear   11     chicago
0D00:17:16.016850918 pear   57     london
0D00:18:09.877069741 apple  73     paris
0D00:18:51.621663272 pear   39     london
0D00:19:25.456885099 apple  28     chicago
0D00:19:30.004516839 banana 39     beijing
0D00:21:18.803423792 orange 28     paris
0D00:21:26.105476319 apple  11     chicago
0D00:21:53.678149133 apple  74     london
0D00:24:29.338841736 orange 54     london
0D00:25:17.908886075 banana 73     chicago
0D00:32:06.682911068 pear   77     beijing
0D00:35:24.053415656 apple  36     chicago
0D00:35:33.929403126 apple  51     london
0D00:35:46.644421666 orange 68     beijing
..

In [13]:
4 3 2 1 wavg 10 20 30 40

20f

In [14]:
10 xbar 1 2 2 3 10 11 67

0 0 0 0 10 10 60

In [14]:
h:hopen `::5813

hop. OS reports: Connection refused: hop. OS reports: Connection refused

In [15]:
/ calls.q
/ Generate some random computer statistics (CPU usage only)
/ You can modify n (number of unique computers), timerange (how long the data is for)
/ freq (how often a computer publishes a statistic) 
/ and calls (the number of logged calls)
n:1000; timerange:5D; freq:0D00:01; calls:3000
depts:`finance`packing`logistics`management`hoopjumping`trading`telesales
startcpu:(til n)!25+n?20 
fcn:n*fc:`long$timerange%freq

computer:([]
    time:(-0D00:00:10 + fcn?0D00:00:20)+fcn#(.z.p - timerange)+freq*til fc; 
    id:raze fc#'key startcpu
    )
computer:update `gid from `time xasc update cpu:{
    100&3|startcpu[first x]+sums(count x)?-2 -1 -1 0 0 1 1 2
    }[id] by id from computer

/ Generate some random logged calls
calls:([] 
    time:(.z.p - timerange)+asc calls?timerange; 
    id:calls?key startcpu; 
    severity:calls?1 2 3
    )

/ Create a lookup table of computer information
computerlookup:([id:key startcpu] dept:n?depts; os:n?`win7`win8`osx`vista)

In [16]:
q)tables[]!count each value each tables[]

calls         | 3000
computer      | 7200000
computerlookup| 1000
tab           | 1000

In [17]:
q)tables[]!count  each tables[]

calls         | 1
computer      | 1
computerlookup| 1
tab           | 1