In [1]:
q)N:1000
    
q)item:`apple`banana`orange`pear;
q)city:`beijing`chicago`london`paris;
q)tab:([]time:asc n?0D0;n?item;amount:n?100;n?city);

SyntaxError: invalid syntax (<ipython-input-1-f4ea8a2203e6>, line 1)

In [ ]:
q)select from tab where amount<>11
q)select sum amount by time time.hh, item, city   from tab
q)select sum amount by time time.hh, city, item   from tab

In [ ]:
/ calls.q
/ Generate some random computer statistics (CPU usage only)
/ You can modify n (number of unique computers), timerange (how long the data is for)
/ freq (how often a computer publishes a statistic) 
/ and calls (the number of logged calls)
n:1000; timerange:5D; freq:0D00:01; calls:3000
depts:`finance`packing`logistics`management`hoopjumping`trading`telesales
startcpu:(til n)!25+n?20 
fcn:n*fc:`long$timerange%freq

computer:([]
    time:(-0D00:00:10 + fcn?0D00:00:20)+fcn#(.z.p - timerange)+freq*til fc; 
    id:raze fc#'key startcpu
    )
computer:update `gid from `time xasc update cpu:{
    100&3|startcpu[first x]+sums(count x)?-2 -1 -1 0 0 1 1 2
    }[id] by id from computer

/ Generate some random logged calls
calls:([] 
    time:(.z.p - timerange)+asc calls?timerange; 
    id:calls?key startcpu; 
    severity:calls?1 2 3
    )

/ Create a lookup table of computer information
computerlookup:([id:key startcpu] dept:n?depts; os:n?`win7`win8`osx`vista)

In [1]:
q)tables[]!count each value each tables[]
calls         | 3000
computer      | 7200000
computerlookup| 1000
q)tables[]!count  each tables[]
calls         | 1
computer      | 1
computerlookup| 1
q)tables[]!count each value each tables[]
calls         | 3000
computer      | 7200000
computerlookup| 1000
q)

SyntaxError: invalid syntax (<ipython-input-1-3edea4329b5d>, line 1)

In [ ]:
select mxc:max cpu, mnc:min cpu, avc:avg cpu by id from computer
id| mxc mnc avc
--| ----------------
0 | 63  3   22.92236
1 | 42  3   4.679444
2 | 37  3   4.239167
3 | 100 3   41.52431
4 | 100 3   79.00819
5 | 56  3   6.349028
6 | 96  3   30.41361
7 | 100 3   22.91722
8 | 38  3   5.708611
9 | 34  3   4.087083
10| 100 22  96.525
11| 100 3   34.71819
12| 86  3   23.56208
13| 41  3   4.525556
14| 98  3   42.19194
15| 69  3   17.41194
16| 100 3   57.12375
17| 100 38  88.52472
18| 100 3   72.96694
19| 62  3   21.31347

In [ ]:
q)select mxc:max cpu,mnc:min cpu,avc:avg cpu by id,time.date from computer
id date      | mxc mnc avc
-------------| ----------------
0  2018.04.09| 42  3   20.59083
0  2018.04.10| 19  3   4.035417
0  2018.04.11| 58  3   22.84733
0  2018.04.12| 63  8   35.81042
0  2018.04.13| 49  9   29.78194
0  2018.04.14| 42  17  29.8954
1  2018.04.09| 42  3   10.53539
1  2018.04.10| 3   3   3
1  2018.04.11| 9   3   3.133241
1  2018.04.12| 20  3   4.979167
1  2018.04.13| 3   3   3
1  2018.04.14| 3   3   3
2  2018.04.09| 37  3   9.026644
2  2018.04.10| 16  3   4.169444
2  2018.04.11| 3   3   3
2  2018.04.12| 3   3   3
2  2018.04.13| 3   3   3
2  2018.04.14| 3   3   3
3  2018.04.09| 40  3   9.43547
3  2018.04.10| 82  9   42.3829

In [ ]:
q)timeofday:{`0earlymorn`1midmorn`2lunch`3afternoon`4evening 00:00 07:00 12:00 13:30 17:00 bin x}
    
q)select mxc:max cpu, mnc:min cpu, avc:avg cpu by id,time.date,tod:timeofday[time.minute] from computer                                                                               
id date       tod       | mxc mnc avc     
------------------------| ----------------
0  2014.05.09 2lunch    | 42  25  33.29231
0  2014.05.09 3afternoon| 38  17  27.37619
0  2014.05.09 4evening  | 33  6   20.64762
0  2014.05.10 0earlymorn| 34  7   17.22619
0  2014.05.10 1midmorn  | 19  3   9.386667
0  2014.05.10 2lunch    | 8   3   3.933333
0  2014.05.10 3afternoon| 4   3   3.009524
..

In [ ]:
select avg cpu by tod:timeofday[time.minute] from computer

In [ ]:
select callcount:count i by severity,dept from calls lj computerlookup

In [1]:
# http://code.kx.com/q/tutorials/q-by-examples/
????
q)d1:-
q)(d1).\:30 4
26

SyntaxError: invalid syntax (<ipython-input-1-de649fca21b3>, line 3)

In [ ]:
# Structural transforms
raze/[N:0 3_/:2 6#key 12]

In [ ]:
A:5?1.;A          
??? with seed.

In [ ]:
q)avg C~/:1_10000{-3?3}\()
0.1675
0.1664
q)0.1675
q)avg C~/:1_10000{-3?3}\()
0.1676
0.1687
q)0.1676
q)avg C~/:1_10000{-3?3}\()
0.1696
q)0.1709
0.1709
q)avg C~/:1_10000{-3?3}\()
0.1689
0.1633
q)0.1689

In [ ]:
show x:1h$20?2

In [2]:
(x;(&)prior x)

SyntaxError: invalid syntax (<ipython-input-2-2db71605b921>, line 1)

In [ ]:
q)(x;(>)prior x)
11010101010010101100b
10010101010010101000b
q)(x;(<)prior x)
11010101010010101100b
00101010101001010010b

In [ ]:
q)\ls *.q
"buildsmartmeterdb.q"
"smartmeterdemo.q"
"smartmeterfunctions.q"
"tutorial.q"
q)\pwd
"/Users/ab6/Documents/BMCap/Quizzle/cookbook-master/tuto

In [ ]:
If you change namespace, then the prompt includes the namespace.

    q)\d .h                     / change to h namespace
    q.h)\d .                    / change back to root namespace
    q)

In [ ]:
x:2 5 4 7 5
q)distinct x
2 5 4 7
q)reverse x
5 7 4 5 2
q)x within 4 10
01111b
q)x where x within 4 10
5 4 7 5

In [ ]:
q)a:`toronto        / symbol
q)b:"toronto"       / character string
q)count a
1
q)count b
7
q)a="o"
`type
q)b="o"
0101001b
q)a~b               / a is not the same as b
0b
q)a~`$b             / `$b converts b to symbol
1b

In [ ]:
q)kt:([sym:`ibm`amd] volume:100 200)     / Keyed table
q)ku:([sym:`amd`intel] volume:300 400)

q)t:([]sym:`ibm`amd; volume:100 200)
q)u:([]sym:`amd`intel; volume:300 400)

In [ ]:
q)s)select * from p where color in (red,green)  / SQL query
p | name  color weight city
--| -------------------------
p1| nut   red   12     london
p2| bolt  green 17     paris
p4| screw red   14     london
p6| cog   red   19     london


q)select from p where color in `red`green


q)select distinct p,s.city from sp
s)select distinct sp.p,s.city from sp,s where sp.s=s.s


q)select from sp where s.city=p.city
s)select sp.s,sp.p,sp.qty from s,p,sp where sp.s=s.s and sp.p=p.p and p.city=s.city

In [ ]:
q)select countqty:count qty,sumqty:sum qty by p from sp
p | countqty sumqty
--| ---------------
p1| 2        600
p2| 4        1000
p3| 1        400
p4| 2        500
p5| 2        500
p6| 1        100

In [ ]:
q)\p 5001          \after standard startup


`:[server]:port
Copy
where the server is optional, and port is a port number. The server need not be given if on the same machine. Examples:


`::5001                    / server on same machine as client
`:genie:5001               / server on machine genie
`:198.168.1.56:5001        / server on given IP address
`:www.example.com:5001     / server at www.example.com

In [ ]:
\l start/buildhdb.q

In [ ]:
select count i by date from trade

In [ ]:
select cnt:count i,sum size,last price, wprice:size wavg price by 5 xbar time.minute from t

In [1]:
t:select time,price from trade where date=last date,sym=`IBM

SyntaxError: invalid syntax (<ipython-input-1-92ecb4ea9366>, line 1)