In [11]:
# import sys

In [2]:
# sys.path.append('https://github.com/alphaBenj/RoughCut/blob/master/files/data_iex.py')

In [1]:
%matplotlib inline 
import matplotlib.pyplot as plt
from matplotlib import colors
import data_iex as IEX

In [2]:
dir(IEX)
# ?filter=symbol,volume,lastSalePrice

['API',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'io',
 'json',
 'json_normalize',
 'pd',
 'requests']

In [3]:
iex = IEX.API()
dir(iex)

['_GetDataFrame',
 '_IEX_URL_PREFIX',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'infoCompEarns',
 'infoCompFins',
 'infoCompNews',
 'lastTrade',
 'lastTradeQuote',
 'secUpper',
 'tradeBars']

In [4]:
iex.lastTrade(['AAPL', 'IBM', "FLR"])

         price  size             time
symbol
AAPL    187.96   100  19:59:57.792000
IBM     142.45   100  19:59:59.794000
FLR      49.04   100  19:59:50.523000

In [6]:
iex.lastTradeQuote(['AAPL', 'IBM'])

KeyError: 'lastSaleTime'

In [7]:
# %%timeit
iex.lastTrade(['AAPL', 'MSFT'])

          price  size             time
symbol
AAPL    187.960   100  19:59:57.792000
MSFT    101.175    37  19:59:55.323000

In [13]:
# %%timeit -n 1
symList = ['AAPL', 'CSCO',"OXY","NFLX", "SBUX", "VXX", "MO", "PM", "TSLA","GE" ]
# symList = ['GE' ]
bars = iex.tradeBars(symList, bucket='1m')

# print (bars.columns)
bars

,symbol,date,open,high,low,close,volume,AdjClose
0,AAPL,20180606,193.6300,194.0800,191.9200,193.9800,20933619,193.9800
1,AAPL,20180607,194.1400,194.2000,192.3350,193.4600,21347180,193.4600
2,AAPL,20180608,191.1700,192.0000,189.7700,191.7000,26656799,191.7000
3,AAPL,20180611,191.3500,191.9700,190.2100,191.2300,18308460,191.2300
4,AAPL,20180612,191.3850,192.6110,191.1500,192.2800,16911141,192.2800
5,AAPL,20180613,192.4200,192.8800,190.4400,190.7000,21638393,190.7000
6,AAPL,20180614,191.5500,191.5700,190.2200,190.8000,21610074,190.8000
7,AAPL,20180615,190.0300,190.1600,188.2600,188.8400,61719160,188.8400
8,AAPL,20180618,187.8800,189.2200,187.2000,188.7400,18484865,188.7400
9,AAPL,20180619,185.1400,186.3300,183.4500,185.6900,33578455,185.6900
10,AAPL,20180620,186.3500,187.2000,185.7300,186.5000,20628701,186.5000
11,AAPL,20180621,187.2500,188.3500,184.9400,185.4600,25711898,185.4600
12,AAPL,20180622,186.1200,186.1500,184.7000,184.9200,27200447,184.9200
13,AAPL,20180625,183.4000,184.9200,180.7300,182.1700,31663096,182.1700
14,AAPL,20180626,182.9900,186.5300,182.5400,184.4300,24569201,184.4300
15,AAPL,20180627,185.2278,187.2800,184.0300,184.1600,25285328,184.1600
16,AAPL,20180628,184.1000,186.2100,183.8000,185.5000,17365235,185.5000
17,AAPL,20180629,186.2900,187.1900,182.9100,185.1100,22737666,185.1100
18,AAPL,20180702,183.8200,187.3000,183.4200,187.1800,17731343,187.1800
19,AAPL,20180703,187.7900,187.9500,183.5400,183.9200,13954806,183.9200
20,AAPL,20180705,185.2600,186.4100,184.2800,185.4000,16604248,185.4000
21,AAPL,20180706,185.4200,188.4340,185.2000,187.9700,17485245,187.9700
0,CSCO,20180606,43.4216,43.9673,43.3223,43.9177,17730231,43.9177
1,CSCO,20180607,43.8978,44.0467,43.0147,43.3124,19722037,43.3124
2,CSCO,20180608,43.1834,43.3918,42.9750,43.1437,18812398,43.1437
3,CSCO,20180611,43.2826,43.5803,43.1040,43.3521,15068969,43.3521
4,CSCO,20180612,43.3422,43.6051,43.1338,43.6002,17564885,43.6002
5,CSCO,20180613,43.6795,44.1856,43.5009,43.6696,24383241,43.6696
6,CSCO,20180614,43.8879,44.4634,43.7093,44.3444,24020482,44.3444
7,CSCO,20180615,44.0169,44.1856,43.2529,43.9078,49379790,43.9078
...,...,...,...,...,...,...,...,...
14,TSLA,20180626,336.0540,343.5500,325.7990,342.0000,7452487,342.0000
15,TSLA,20180627,345.0000,350.7900,339.5000,344.5000,8333727,344.5000
16,TSLA,20180628,348.6600,357.0200,346.1100,349.9300,8398005,349.9300
17,TSLA,20180629,353.3300,353.8600,342.4100,342.9500,6492396,342.9500
18,TSLA,20180702,360.0700,364.7800,329.8500,335.0700,18759765,335.0700
19,TSLA,20180703,331.7500,332.4900,309.6900,310.8600,12282638,310.8600
20,TSLA,20180705,313.7600,314.3900,296.2200,309.1600,17476374,309.1600
21,TSLA,20180706,304.9545,312.0700,302.0000,308.9000,8865451,308.9000
0,GE,20180606,13.6984,13.7635,13.5101,13.5200,62145270,13.5200
1,GE,20180607,13.5101,13.6786,13.4903,13.6588,70982420,13.6588
2,GE,20180608,13.6588,13.9462,13.5894,13.8074,50244868,13.8074
3,GE,20180611,13.8669,13.9066,13.7281,13.8570,43601680,13.8570
4,GE,20180612,13.9066,14.0156,13.7876,13.8570,41519137,13.8570
5,GE,20180613,13.8967,13.9313,13.7084,13.7678,35499835,13.7678
6,GE,20180614,13.7480,13.7876,13.4407,13.5200,60671122,13.5200
7,GE,20180615,13.5100,13.5200,13.3000,13.3000,96180108,13.3000
8,GE,20180618,13.2100,13.2300,13.1000,13.2000,68340242,13.2000
9,GE,20180619,13.0600,13.0700,12.9000,12.9500,77874464,12.9500
10,GE,20180620,12.7600,13.1100,12.7500,12.8800,96425602,12.8800
11,GE,20180621,12.8100,12.8200,12.6100,12.7600,70692167,12.7600
12,GE,20180622,12.7600,13.0800,12.7600,13.0500,74119111,13.0500
13,GE,20180625,13.0300,13.0500,12.7400,12.7500,76819797,12.7500
14,GE,20180626,13.4600,13.9400,13.3900,13.7400,213833225,13.7400
15,GE,20180627,13.8600,14.4350,13.8000,13.9600,135351284,13.9600
16,GE,20180628,13.9400,14.0000,13.6800,13.8300,64430989,13.8300
17,GE,20180629,13.8300,13.9000,13.5700,13.6100,71964493,13.6100
18,GE,20180702,13.4800,13.5500,13.1900,13.3700,62773901,13.3700
19,GE,20180703,13.3500,13.4900,13.3000,13.3700,32212405,13.3700
20,GE,20180705,13.3800,13.4400,13.0400,13.4300,53542248,13.4300
21,GE,20180706,13.3700,13.9000,13.3200,13.8500,60022367,13.8500

In [14]:
# bars[[ 'symbol','date', 'minute','open','high', 'low', 'close','volume','marketOpen',
#           'marketHigh','marketLow', 'marketClose', 'marketVolume', 'average','marketAverage',  
#        'numberOfTrades', 'marketNumberOfTrades', 
#          ]]

In [15]:
# bar =
try:     bar = bars[['symbol','date','minute','open','high', 'low', 'close',  'volume',]]
except:  bar = bars[['symbol','date','open','high', 'low', 'close',  'volume',]]

In [16]:
bar[bar['symbol']=="GE"]

   symbol      date     open     high      low    close     volume
0      GE  20180606  13.6984  13.7635  13.5101  13.5200   62145270
1      GE  20180607  13.5101  13.6786  13.4903  13.6588   70982420
2      GE  20180608  13.6588  13.9462  13.5894  13.8074   50244868
3      GE  20180611  13.8669  13.9066  13.7281  13.8570   43601680
4      GE  20180612  13.9066  14.0156  13.7876  13.8570   41519137
5      GE  20180613  13.8967  13.9313  13.7084  13.7678   35499835
6      GE  20180614  13.7480  13.7876  13.4407  13.5200   60671122
7      GE  20180615  13.5100  13.5200  13.3000  13.3000   96180108
8      GE  20180618  13.2100  13.2300  13.1000  13.2000   68340242
9      GE  20180619  13.0600  13.0700  12.9000  12.9500   77874464
10     GE  20180620  12.7600  13.1100  12.7500  12.8800   96425602
11     GE  20180621  12.8100  12.8200  12.6100  12.7600   70692167
12     GE  20180622  12.7600  13.0800  12.7600  13.0500   74119111
13     GE  20180625  13.0300  13.0500  12.7400  12.7500   76819797
14     GE  20180626  13.4600  13.9400  13.3900  13.7400  213833225
15     GE  20180627  13.8600  14.4350  13.8000  13.9600  135351284
16     GE  20180628  13.9400  14.0000  13.6800  13.8300   64430989
17     GE  20180629  13.8300  13.9000  13.5700  13.6100   71964493
18     GE  20180702  13.4800  13.5500  13.1900  13.3700   62773901
19     GE  20180703  13.3500  13.4900  13.3000  13.3700   32212405
20     GE  20180705  13.3800  13.4400  13.0400  13.4300   53542248
21     GE  20180706  13.3700  13.9000  13.3200  13.8500   60022367

In [11]:
https://api.iextrading.com/1.0/tops/last/?symbols=SNAP,fb,AIG%2b&format=csv

SyntaxError: invalid syntax (<ipython-input-11-366dc211e16f>, line 1)

In [33]:
# https://api.iextrading.com/1.0/tops/?symbols=SNAP,fb,AIG%2b&format=csv

SyntaxError: invalid syntax (<ipython-input-33-2328fbbe4804>, line 1)

In [21]:
import pandas as pd
from urllib.request import Request, urlopen
import json
from pandas.io.json import json_normalize
import requests, io

In [22]:
_IEX_URL_PREFIX = r'https://api.iextrading.com/1.0/'

In [54]:
def get_trade_bars_data2( securities, bucket='1m'):

        """
        Get bucketed trade/volume data. Supported buckets are: 1m, 3m, 6m, 1y, ytd, 2y, 5y
        :param securities: list of securities
        :param bucket:
        :return: dataframe
        """
        # securities = self.return_valid_securities(securities)
        #https://api.iextrading.com/1.0/stock/market/batch?&types=time-series&range=5y&symbols=qep,oxy,flr,mo,pm,nflx
        
        syms     = (',').join(securities)
        df       = pd.DataFrame()
        # Get price data for each security and then append the results together
        # if securities:

        #     for symbol in securities:
        #         suffix          = r'stock/{symbol}/chart/{bucket}'.format(symbol=symbol,bucket=bucket)
        #         df              = self._url_to_dataframe(self._IEX_URL_PREFIX + suffix)
        #         df['symbol']    = symbol
        #         final_df        = final_df.append(df, ignore_index=True)
        #     return final_df
        # else:   print('These stock(s) are invalid!')

        # if securities:    
            # for symbol in securities:
            
        suffix  = r"stock/market/batch?&types=time-series&range={bucket}&symbols={symbol}".format(bucket=bucket,symbol=syms)
        filter  = "&filter=symbol,date,open,high,low,close,volume,changePercent,vwap"
        urlData = requests.get(_IEX_URL_PREFIX + suffix+filter).content
        rawData = json.loads(urlData)
        
        for sym in list(rawData.keys()):    
            _df           =  pd.DataFrame(list(rawData.get(sym).values())[0])
            _df["symbol"] = sym
            print (_df.head())
            df = pd.concat([df,_df])
           
        
        return df

In [53]:
# %%timeit -n 1
securities = ['AAPL', 'CSCO',"OXY","NFLX", "SBUX", "VXX", "MO", "PM" ]
bars = get_trade_bars_data2( securities, bucket='2y')

   changePercent    close        date     high      low     open    volume  \
0          1.271  93.1697  2016-05-23  93.9040  92.4354  92.6286  38018643
1          1.524  94.5900  2016-05-24  94.7735  93.5658  93.9329  35140174
2          1.757  96.2518  2016-05-25  96.3677  94.7929  95.3339  38642108
3          0.793  97.0151  2016-05-26  97.3243  95.3049  96.3098  56331159
4         -0.060  96.9571  2016-05-27  97.0731  95.8895  96.0779  36341240

      vwap symbol
0  93.3771   AAPL
1  94.2808   AAPL
2  95.7591   AAPL
3  96.3515   AAPL
4  96.5612   AAPL
   changePercent    close        date     high      low     open    volume  \
0         -0.107  26.1068  2016-05-23  26.3964  25.9573  25.9573  19850040
1          1.897  26.6020  2016-05-24  26.7048  26.1722  26.1722  26514828
2          1.581  27.0225  2016-05-25  27.0972  26.6487  26.7048  25729908
3         -0.069  27.0038  2016-05-26  27.1346  26.9057  26.9664  19366299
4          0.069  27.0225  2016-05-27  27.1299  26.9010  27.0505  16673324

      vwap symbol
0  26.2496   CSCO
1  26.5854   CSCO
2  26.9954   CSCO
3  27.0286   CSCO
4  27.0029   CSCO
   changePercent    close        date     high      low     open   volume  \
0         -0.120  68.3968  2016-05-23  68.8536  67.8852  68.0405  3334451
1          1.670  69.5388  2016-05-24  69.7854  68.4973  69.0089  3620728
2          0.066  69.5844  2016-05-25  70.6624  69.3195  70.2239  3399508
3         -0.079  69.5296  2016-05-26  70.5071  69.4748  70.0686  2286839
4          0.053  69.5662  2016-05-27  69.6301  69.0454  69.4017  2203127

      vwap symbol
0  68.4580    OXY
1  69.4648    OXY
2  69.7519    OXY
3  69.8131    OXY
4  69.3975    OXY
   changePercent   close        date      high     low    open    volume  \
0          2.595   94.89  2016-05-23   95.2924   92.85   92.98  13992330
1          3.162   97.89  2016-05-24   99.1400   95.75   95.98  21246023
2          2.360  100.20  2016-05-25  100.3100   98.30   99.00  15211295
3          2.605  102.81  2016-05-26  104.0000  101.38  103.21  17824673
4          0.477  103.30  2016-05-27  103.5000  101.44  102.44   9092127

       vwap symbol
0   94.5605   NFLX
1   97.8675   NFLX
2   99.2864   NFLX
3  102.7704   NFLX
4  102.5826   NFLX
   changePercent    close        date     high      low     open   volume  \
0         -0.037  52.6105  2016-05-23  52.8197  52.3128  52.6298  7352054
1          1.538  53.4199  2016-05-24  53.5934  52.6876  52.7454  7748697
2         -0.523  53.1405  2016-05-25  53.4392  52.9478  53.1887  8126058
3          0.254  53.2754  2016-05-26  53.8342  52.9478  53.5259  9451708
4         -0.253  53.1405  2016-05-27  53.5259  53.0923  53.3428  6631120

      vwap symbol
0  52.6105   SBUX
1  53.2790   SBUX
2  53.2011   SBUX
3  53.2509   SBUX
4  53.2845   SBUX
   changePercent   close        date      high     low    open   volume  \
0         -0.464  240.48  2016-05-23  243.3184  237.12  241.12  2825376
1         -4.325  230.08  2016-05-24  237.1200  227.44  236.80  3872151
2         -1.878  225.76  2016-05-25  228.6400  221.36  226.48  3422037
3         -1.063  223.36  2016-05-26  226.2400  222.40  225.44  2740833
4         -2.686  217.36  2016-05-27  222.5600  217.12  221.60  2757274

       vwap symbol
0  239.5273    VXX
1  232.1445    VXX
2  224.9995    VXX
3  224.1171    VXX
4  219.6263    VXX
   changePercent    close        date     high      low     open   volume  \
0          0.445  58.7608  2016-05-23  58.8630  58.3613  58.5285  3709788
1          0.870  59.2719  2016-05-24  59.5803  59.0117  59.0860  5209705
2          0.204  59.3927  2016-05-25  59.6064  59.1325  59.2719  4265913
3          0.125  59.4670  2016-05-26  59.5506  59.1432  59.3276  3732653
4         -0.063  59.4298  2016-05-27  59.7179  59.1604  59.5227  3255749

      vwap symbol
0  58.6949     MO
1  59.3222     MO
2  59.4220     MO
3  59.3803     MO
4  59.3966     MO
   changePercent    close        date     high      low     open   volume  \
0          0.245  90.7501  2016-05-23  90.8794  90.2423  90.5470  2365439
1          0.570  91.2672  2016-05-24  91.7566  91.0364  91.1472  3074422
2          0.212  91.4611  2016-05-25  91.8767  91.0918  91.1103  2543136
3         -0.040  91.4242  2016-05-26  91.5673  90.9164  91.4611  2350547
4          0.172  91.5812  2016-05-27  91.7382  91.1472  91.5073  2059805

      vwap symbol
0  90.6034     PM
1  91.3768     PM
2  91.5345     PM
3  91.3463     PM
4  91.5329     PM

In [47]:
# list(rd.keys())[0]
# _df = pd.DataFrame()

In [48]:
# _df = pd.DataFrame()
# print (_df.head())


# # for sym in list(rd.keys()):    
#     df           =  pd.DataFrame(list(rd.get(sym).values())[0])
#     df["symbol"] = sym
#     _df = pd.concat([_df,df])
# print (_df.head())

In [34]:
bar[bar['symbol']=="OXY"]

    symbol      date    open    high     low   close  volume
0      OXY  20180626  81.850  81.860  81.850  81.860     127
1      OXY  20180626     NaN  -1.000  -1.000     NaN       0
2      OXY  20180626  81.985  81.985  81.985  81.985     100
3      OXY  20180626     NaN  -1.000  -1.000     NaN       0
4      OXY  20180626  81.940  82.190  81.940  82.190    2000
5      OXY  20180626  82.105  82.175  82.090  82.175     400
6      OXY  20180626  82.050  82.050  82.050  82.050     100
7      OXY  20180626  82.055  82.070  81.900  81.900     400
8      OXY  20180626  81.855  81.970  81.855  81.970     212
9      OXY  20180626  81.920  81.920  81.920  81.920     200
10     OXY  20180626     NaN  -1.000  -1.000     NaN       0
11     OXY  20180626     NaN  -1.000  -1.000     NaN       0
12     OXY  20180626  81.950  81.950  81.950  81.950     100
13     OXY  20180626     NaN  -1.000  -1.000     NaN       0
14     OXY  20180626  81.795  81.820  81.795  81.820     700
15     OXY  20180626  81.640  81.640  81.640  81.640     100
16     OXY  20180626     NaN  -1.000  -1.000     NaN       0
17     OXY  20180626  81.540  81.540  81.510  81.510     400
18     OXY  20180626     NaN  -1.000  -1.000     NaN       0
19     OXY  20180626  81.725  81.760  81.725  81.760     200
20     OXY  20180626  81.870  81.870  81.870  81.870     200
21     OXY  20180626  81.770  81.770  81.770  81.770     100
22     OXY  20180626  81.750  81.750  81.750  81.750     100
23     OXY  20180626  81.645  81.730  81.645  81.725     900
24     OXY  20180626  81.660  81.660  81.660  81.660     100
25     OXY  20180626     NaN  -1.000  -1.000     NaN       0
26     OXY  20180626  81.515  81.535  81.515  81.535     300
27     OXY  20180626  81.520  81.530  81.490  81.490     339
28     OXY  20180626  81.495  81.530  81.495  81.530     200
29     OXY  20180626     NaN  -1.000  -1.000     NaN       0
..     ...       ...     ...     ...     ...     ...     ...
341    OXY  20180626  82.730  82.770  82.730  82.770     500
342    OXY  20180626  82.745  82.795  82.740  82.795     600
343    OXY  20180626  82.795  82.810  82.795  82.810     300
344    OXY  20180626     NaN  -1.000  -1.000     NaN       0
345    OXY  20180626  82.840  82.890  82.840  82.890     800
346    OXY  20180626  82.860  82.860  82.840  82.840     600
347    OXY  20180626  82.790  82.790  82.790  82.790     300
348    OXY  20180626  82.800  82.800  82.800  82.800     100
349    OXY  20180626     NaN  -1.000  -1.000     NaN       0
350    OXY  20180626  82.745  82.805  82.745  82.800     600
351    OXY  20180626  82.770  82.770  82.770  82.770      50
352    OXY  20180626  82.670  82.690  82.670  82.690     400
353    OXY  20180626  82.685  82.695  82.645  82.645     800
354    OXY  20180626     NaN  -1.000  -1.000     NaN       0
355    OXY  20180626  82.650  82.650  82.600  82.600     457
356    OXY  20180626  82.590  82.630  82.590  82.630    2400
357    OXY  20180626  82.630  82.630  82.630  82.630     700
358    OXY  20180626  82.535  82.570  82.535  82.570     200
359    OXY  20180626  82.520  82.550  82.520  82.540    1000
360    OXY  20180626  82.570  82.570  82.540  82.540     200
361    OXY  20180626  82.540  82.570  82.515  82.570     700
362    OXY  20180626  82.600  82.620  82.585  82.600     620
363    OXY  20180626  82.610  82.610  82.590  82.590    1200
364    OXY  20180626  82.590  82.630  82.590  82.630    1320
365    OXY  20180626  82.630  82.650  82.630  82.650     994
366    OXY  20180626  82.670  82.670  82.600  82.620     850
367    OXY  20180626  82.610  82.610  82.585  82.590    1800
368    OXY  20180626  82.585  82.640  82.585  82.640    3300
369    OXY  20180626  82.645  82.670  82.640  82.650    2132
370    OXY  20180626  82.650  82.690  82.605  82.680    4568

[371 rows x 7 columns]

In [67]:
final_df

Empty DataFrame
Columns: []
Index: []

In [50]:
securities = ['oxy', "QEP","VXX","HI"]

In [92]:
str(securities).replace('"', "").replace("'", "").replace('[', "").replace(']', "").replace(' ', "")

'oxy,QEP,VXX,HI'

In [51]:
(',').join(securities)

'oxy,QEP,VXX,HI'

In [38]:
dllist = list(range(821))
print (round((len(dllist)),-2)/100+1)

9.0

In [43]:
dll    = [ dllist[ x*100: (x+1)*100]  for x in  range(int(round((len(dllist)),-2)/100+1))  ]

In [42]:
range(int(round((len(dllist)),-2)/100+1))

range(0, 9)

In [44]:
dll

[[0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99],
 [100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  139,
  140,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  149,
  150,
  151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193,
  194,
  195,
  196,
  197,
  198,
  199],
 [200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  209,
  210,
  211,
  212,
  213,
  214,
  215,
  216,
  217,
  218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  232,
  233,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  241,
  242,
  243,
  244,
  245,
  246,
  247,
  248,
  249,
  250,
  251,
  252,
  253,
  254,
  255,
  256,
  257,
  258,
  259,
  260,
  261,
  262,
  263,
  264,
  265,
  266,
  267,
  268,
  269,
  270,
  271,
  272,
  273,
  274,
  275,
  276,
  277,
  278,
  279,
  280,
  281,
  282,
  283,
  284,
  285,
  286,
  287,
  288,
  289,
  290,
  291,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299],
 [300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326,
  327,
  328,
  329,
  330,
  331,
  332,
  333,
  334,
  335,
  336,
  337,
  338,
  339,
  340,
  341,
  342,
  343,
  344,
  345,
  346,
  347,
  348,
  349,
  350,
  351,
  352,
  353,
  354,
  355,
  356,
  357,
  358,
  359,
  360,
  361,
  362,
  363,
  364,
  365,
  366,
  367,
  368,
  369,
  370,
  371,
  372,
  373,
  374,
  375,
  376,
  377,
  378,
  379,
  380,
  381,
  382,
  383,
  384,
  385,
  386,
  387,
  388,
  389,
  390,
  391,
  392,
  393,
  394,
  395,
  396,
  397,
  398,
  399],
 [400,
  401,
  402,
  403,
  404,
  405,
  406,
  407,
  408,
  409,
  410,
  411,
  412,
  413,
  414,
  415,
  416,
  417,
  418,
  419,
  420,
  421,
  422,
  423,
  424,
  425,
  426,
  427,
  428,
  429,
  430,
  431,
  432,
  433,
  434,
  435,
  436,
  437,
  438,
  439,
  440,
  441,
  442,
  443,
  444,
  445,
  446,
  447,
  448,
  449,
  450,
  451,
  452,
  453,
  454,
  455,
  456,
  457,
  458,
  459,
  460,
  461,
  462,
  463,
  464,
  465,
  466,
  467,
  468,
  469,
  470,
  471,
  472,
  473,
  474,
  475,
  476,
  477,
  478,
  479,
  480,
  481,
  482,
  483,
  484,
  485,
  486,
  487,
  488,
  489,
  490,
  491,
  492,
  493,
  494,
  495,
  496,
  497,
  498,
  499],
 [500,
  501,
  502,
  503,
  504,
  505,
  506,
  507,
  508,
  509,
  510,
  511,
  512,
  513,
  514,
  515,
  516,
  517,
  518,
  519,
  520,
  521,
  522,
  523,
  524,
  525,
  526,
  527,
  528,
  529,
  530,
  531,
  532,
  533,
  534,
  535,
  536,
  537,
  538,
  539,
  540,
  541,
  542,
  543,
  544,
  545,
  546,
  547,
  548,
  549,
  550,
  551,
  552,
  553,
  554,
  555,
  556,
  557,
  558,
  559,
  560,
  561,
  562,
  563,
  564,
  565,
  566,
  567,
  568,
  569,
  570,
  571,
  572,
  573,
  574,
  575,
  576,
  577,
  578,
  579,
  580,
  581,
  582,
  583,
  584,
  585,
  586,
  587,
  588,
  589,
  590,
  591,
  592,
  593,
  594,
  595,
  596,
  597,
  598,
  599],
 [600,
  601,
  602,
  603,
  604,
  605,
  606,
  607,
  608,
  609,
  610,
  611,
  612,
  613,
  614,
  615,
  616,
  617,
  618,
  619,
  620,
  621,
  622,
  623,
  624,
  625,
  626,
  627,
  628,
  629,
  630,
  631,
  632,
  633,
  634,
  635,
  636,
  637,
  638,
  639,
  640,
  641,
  642,
  643,
  644,
  645,
  646,
  647,
  648,
  649,
  650,
  651,
  652,
  653,
  654,
  655,
  656,
  657,
  658,
  659,
  660,
  661,
  662,
  663,
  664,
  665,
  666,
  667,
  668,
  669,
  670,
  671,
  672,
  673,
  674,
  675,
  676,
  677,
  678,
  679,
  680,
  681,
  682,
  683,
  684,
  685,
  686,
  687,
  688,
  689,
  690,
  691,
  692,
  693,
  694,
  695,
  696,
  697,
  698,
  699],
 [700,
  701,
  702,
  703,
  704,
  705,
  706,
  707,
  708,
  709,
  710,
  711,
  712,
  713,
  714,
  715,
  716,
  717,
  718,
  719,
  720,
  721,
  722,
  723,
  724,
  725,
  726,
  727,
  728,
  729,
  730,
  731,
  732,
  733,
  734,
  735,
  736,
  737,
  738,
  739,
  740,
  741,
  742,
  743,
  744,
  745,
  746,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  764,
  765,
  766,
  767,
  768,
  769,
  770,
  771,
  772,
  773,
  774,
  775,
  776,
  777,
  778,
  779,
  780,
  781,
  782,
  783,
  784,
  785,
  786,
  787,
  788,
  789,
  790,
  791,
  792,
  793,
  794,
  795,
  796,
  797,
  798,
  799],
 [800,
  801,
  802,
  803,
  804,
  805,
  806,
  807,
  808,
  809,
  810,
  811,
  812,
  813,
  814,
  815,
  816,
  817,
  818,
  819,
  820]]

In [9]:
from IPython.core.display import HTML
HTML("<style>.container { width:98% !important; white-space: none; no-wrap: true; }</style>")